includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - modules

    level: 6

    excludePaths:
        - modules/*/Tests/*
        - modules/*/Database/Factories/*

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
